# fly.toml file generated for wispy-surf-4788 on 2023-03-03T22:14:40+09:00

app = "matomebot"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  builder = "paketobuildpacks/builder:base"
  buildpacks = ["gcr.io/paketo-buildpacks/go"]

[experimental]
  auto_rollback = true

